Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent
Content/Dynamic/Levels/FirstPersonExampleMap_BuildData.uasset
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace